@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap');

* {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background: rgb(142, 45, 226);
  background: linear-gradient(140deg, rgba(142, 45, 226, 1) 0%, rgba(74, 0, 224, 1) 100%);
  background-repeat: no-repeat;
}

header {
  padding: 2rem 1rem 1rem;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
header .text p {
  opacity: .8;
}
header .profilepicture {
  height: 40px;
  border-radius: 50px;
}

.container {
  margin-top: 0rem;
  background-color: white;
  padding: 2rem 0;
  border-radius: 0px 0 0 0;
  height: 100%;
  position: relative;
  box-shadow: 0 -7px 10px 0 rgba(0,0,0,.05);;
}
.tutorial-swipe {
  padding-bottom: 6px;
  background-color: rgba(0,0,0,.5);
  border-radius: 50px;
  position: absolute;
  z-index: 3;
  top: 45%;
  left: 50%;
  transform: translateY(-50%)translateX(-50%);
}
.swiper-container {
  width: 100%;
  height: 330px;
}
.swiper-slide {
  display: flex;
  justify-content: center;
  position: relative;
}
.swiper-slide img {
  width: 275px;
  height: 265px;
  background-size: cover;
  border-radius: 10px;
}
.swiper-slide .data {
  width: 280px;
  max-width: 280px;
  background: white;
  color: black;
  border-radius: 0 0 10px 10px;
  position: absolute;
  bottom: 15px;
  padding: 0 1rem;
}
.swiper-slide .link {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}
.swiper-pagination {
  position: absolute;
  top: 10px;
}
.swiper-pagination-bullet-active {
  opacity: 1;
  background: #8E2DE2!important;
  background-color: #8E2DE2;
}
.navbar {
  width: 100%;
  position: absolute;
  bottom: 0rem;
  background-color: white;
}
.navbar .cont {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 -7px 10px 0 rgba(0, 0, 0, .05);
  transition: all .3s ease;
}
.navbar .cont .item {
  transition: all .3s ease;
}
.navbar .cont .item:not(.active) i {
  display: none;
}
.navbar .cont .item:after {
  content: attr(data-name);
  color: lightgray;
}
.navbar .cont .active i {
  font-size: 28px;
}
.navbar .cont .active {
  color: #8E0FED;
  position: relative;
  transition: all .3s ease;
}
.navbar .cont .active:after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50px;
  background-color: #8E0FED;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}

@media (min-width: 320px) and (min-height: 640px) {
  .swiper-slide img {
    width: 290px;
    height: 280px;
    background-size: cover;
    border-radius: 10px;
  }
}
@media (min-width: 320px) and (min-height: 720px) {
  .swiper-slide img {
    width: 330px;
    height: 320px;
    background-size: cover;
    border-radius: 10px;
  }
}