@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap');

* {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  user-select: none;
}

header {
  padding: 1rem 0;
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: -1;
  background-color: #8E2DE2;
  color: white;
}
header .text {
  margin-left: 1rem;
}
header .text p {
  line-height: 15px;
  opacity: .8;
}
header .image img {
  margin-right: 1rem;
  height: 50px;
  border-radius: 50px;
}

.container {
  margin-top: 5rem;
  height: 100%;
  padding-bottom: 6rem;
  background-color: white;
}
.container .wrapper {
  padding-top: 1rem;
}

.swiper-container {
  width: 100%;
  height: 250px;
  position: relative;
}
.swiper-slide {
  position: relative;
}
.swiper-slide .link {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
}
.swiper-slide .thumbnail {
  width: 325px;
  height: 200px;
  background-color: lightgray;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
}
.swiper-slide .thumbnail img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}
.swiper-slide .iconify {
  font-size: 32px;
  position: absolute;
  right: 2rem;
  bottom: 4rem;
  color: white;
}
.swiper-slide .text {
  position: absolute;
  bottom: 5px;
  left: 1rem;
}
.swiper-slide .text h3 {
  line-height: 13px;
  font-size: 20px
}
.swiper-slide .text small {
  line-height: 13px;
  color: darkgray;
}
.swiper-pagination {
  position: absolute;
  top: 10px;
  left: 45%;
  transform: translateX(-50%);
}
.swiper-pagination-bullet-active {
  opacity: 1;
  background: #8E2DE2 !important;
  background-color: #8E2DE2;
}

.container .wrapper hr {
  margin: 1rem 2rem 1.5rem;
  border: .1px solid lightgray;
}
.container .wrapper .title {
  padding: 0 1rem;
}
.container .wrapper .title h3 {
  margin-top: 2rem;
  line-height: 15px;
}
.container .wrapper .title small {
  line-height: 0;
  color: grey;
  font-weight: 500;
}

.navbar {
  width: 100%;
  position: fixed;
  bottom: 0rem;
  background-color: white;
}
.navbar .cont {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 -7px 10px 0 rgba(0, 0, 0, .05);
  transition: all .3s ease;
}
.navbar .cont .item {
  transition: all .3s ease;
}
.navbar .cont .item:not(.active) i {
  display: none;
}
.navbar .cont .item:after {
  content: attr(data-name);
  color: lightgray;
  font-size: 1rem;
}
.navbar .cont .active i {
  font-size: 28px;
}
.navbar .cont .active {
  color: #8E2DE2;
  position: relative;
  transition: all .3s ease;
}
.navbar .cont .active:after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50px;
  background-color: #8E2DE2;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
}

.trending .group .card {
  padding: 10px;
}
.trending .group {
  display: flex;
  justify-content: flex-start;
  overflow-x: scroll;
}
.trending .group .card:first-child {
  margin: 0 0rem 0 7px;
}
.trending .group .lastcard {
  height: 100px;
  padding: 2px;
}
.trending .group .card img {
  width: 100px;
  height: 100px;
  border-radius: 5px;
}
.trending .group .card p {
  max-width: 100px;
  font-weight: 600;
}
.trending .group .card small {
  color: gray;
}